@{
    Layout = "~/_template.cshtml";

    var _products = ViewBag.products as List<ThaiOil.Models.Product>;
    var _categories = ViewBag.categories as List<ThaiOil.Models.Category>;

    var controller_name = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var action_name = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();

    var product_alias = String.Empty;
    var category_alias = String.Empty;
    ThaiOil.Models.Product _product = null;
    ThaiOil.Models.Category _category = null;

    if (Request.RequestContext.RouteData.Values.ContainsKey("product_alias"))
    {
        product_alias = Request.RequestContext.RouteData.Values["product_alias"].ToString();
        _product = _products.FirstOrDefault(o => o.alias == product_alias);
        if (_product == null) 
        {
            product_alias = String.Empty;
        } 
        else 
        {
            _category = _categories.FirstOrDefault(o => o.id == _product.category_id);
            if (_category != null)
            {
                category_alias = _category.alias;
            }
        }
    }
    
    if (Request.RequestContext.RouteData.Values.ContainsKey("category_alias"))
    {
        category_alias = Request.RequestContext.RouteData.Values["category_alias"].ToString();
        _category = _categories.FirstOrDefault(o => o.alias == category_alias);
        if (_category == null)
        {
            category_alias = String.Empty;
        }
    }
}
@section title {
    @if (string.IsNullOrEmpty(product_alias) && string.IsNullOrEmpty(category_alias))
    {
        <title>Органические продукты и натуральные масла. Натуральное нерафинированное кокосовое масло холодного отжима: Blossom, Tropicana, ThaiPure</title>
    }
    else if (!string.IsNullOrEmpty(product_alias))
    {
        <title>@(_product.title_full). Купить, цены, стоимость, объем, польза, отзывы. Органические продукты и натуральные масла</title>
    }
    else if (!string.IsNullOrEmpty(category_alias))
    {
        <title>@(_category.title). Органические эко продукты со всего мира</title>
    }
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда, кокосовое масло из тайланда купить, кокосовое масло для волос, кокосовое масло для загара, кокосовое масло для лица, кокосовое масло интернет магазин, польза кокосового масла" />
}

@if (string.IsNullOrEmpty(product_alias) && string.IsNullOrEmpty(category_alias))
{
<div class="slides">
    <div class="slide slide1">
        <h1>ОРГАНИЧЕСКИЕ ПРОДУКТЫ СО ВСЕГО МИРА</h1>
        <h2>КОКОСОВОЕ МАСЛО, МАСЛО ШИ, МАСЛО КАКАО</h2>
        <h3>Blossom — это целый ряд натуральных <br />косметических и пищевых продуктов, <br />созданных специально для Вас</h3>
        <img alt="" src="/img/icon_bio.png" />
    </div>
    @*<div class="slide slide2">
        <div class="wrapper">
            <h1>100% НАТУРАЛЬНОЕ КОКОСОВОЕ <br />МАСЛО BLOSSOM (400 мл)</h1>

            <div class="preview" style="background:url('/content/products/blossom_coconutoil400_preview.jpg') no-repeat 50% 50%;"></div>

            <img class="icons" alt="" src="/img/slide2_icons.png" />
            <img class="benefits" alt="" src="/img/slide2_benefits.png" />

            <h3>АКЦИЯ!</h3>

            <p class="old_price">&nbsp;1 090 р&nbsp;</p>
            <p class="new_price">959 р</p>

            <div class="timer">
                <div id="t_counter">13 : 12 : 10</div>
                <p></p>
                <em id="p_hours">ЧАСОВ</em><em id="p_minutes">МИНУТ</em><em id="p_seconds">СЕКУНД</em>
            </div>

            <a class="btn_buy" href="#" data-what="Кокосовое масло Blossom - 400 мл (1 090р) по акции"></a>
        </div>
    </div>
    *@
    <div class="slide slide3">
        <h1>ЧТО ПОМОЖЕТ ОСТАВАТЬСЯ МОЛОДОЙ И НЕОТРАЗИМОЙ?</h1>
        <div class="wrapper">
            <div class="item">
                <span>2</span>
                <p>основные сферы <br />использования: <br />здоровье и красота</p>
            </div>
            <div class="item">
                <span>18</span>
                <p>областей применения: <br />комплексный уход<br />за красотой <br />и здоровьем</p>
            </div>
            <div class="item">
                <span>46</span>
                <p>явных способов <br />использовать масло <br />по назначению</p>
            </div>
            <div class="item">
                <span>113</span>
                <p>причин держать <br />кокосовое масло дома <br />на все случаи жизни</p>
            </div>
        </div>
        <h3>
            Кокосовое масло — абсолютная замена профессиональным средствам, <br />обеспечивающая комплексный уход за красотой и здоровьем
        </h3>
    </div>
    <div class="slide slide4">
    </div>
    <div class="slide slide5">
    </div>
    <div class="dots"></div>
</div>

<div class="step_benefits"></div>
}

<h2 id="scratch_catalog"><span>АССОРТИМЕНТ</span></h2>
<div class="wrapper">
    <div id="categories_menu" class="categories_menu" @(!string.IsNullOrEmpty(category_alias) ? "data-category-alias=" + category_alias : "")>
        <div class="first">
            @foreach (var item in _categories.Where(o => o.parent_id == 0))
            {
                <a href="/category/@item.alias" data-alias="@item.alias">@item.title</a>
            }
        </div>
        <div class="second">
            @foreach (var item in _categories.Where(o => o.parent_id != 0))
            {
                <a class="dn" href="/category/@item.alias" data-alias="@item.alias" data-parent-alias="@(_categories.FirstOrDefault(o => o.id == item.parent_id).alias)">@item.title</a>
            }
        </div>
    </div>
    <ul class="catalog @(string.IsNullOrEmpty(product_alias) ? "" : "mini")">
        @foreach (var item in _products)
        {
            var inner_category_alias = _categories.FirstOrDefault(o => o.id == item.category_id).alias;
            var css_class = "dn";
            if (!string.IsNullOrEmpty(product_alias))
            {
                if (category_alias == inner_category_alias)
                {
                    css_class = String.Empty;
                }
            }
            else if (!string.IsNullOrEmpty(category_alias))
            {
                if (category_alias == inner_category_alias)
                {
                    css_class = String.Empty;
                }
            }
            else
            {
                if (item.isMainPage)
                {
                    css_class = String.Empty;
                }
            }
            <li class="item @(item.isMainPage ? "isMainPage" : "") @css_class" title="@item.title_short" data-category-alias="@inner_category_alias">
                <a class="link_more" href="/product/@item.alias" rel="@item.alias"><img class="pic" alt="" src="@item.path_preview" /></a>
                <div class="body">
                    <h2>@item.title_short</h2>
                    @if (item.cost_old > 0) {
                    <del>&nbsp;@item.cost_old.ToString(("### ### ### ### ##0")).Trim() р&nbsp;</del>
                    }
                    <p class="cost">@item.cost.ToString(("### ### ### ### ##0")).Trim() р</p>
                    <p class="btn_buy" data-what="@item.title_short (@item.cost.ToString(("### ### ### ### ##0")).Trim() р)">КУПИТЬ СЕЙЧАС</p>
                    <p class="btn_to_cart" data-alias="@item.alias" data-title="@item.title_short" data-cost="@item.cost" data-pic="@item.path_preview">в корзину</p>
                </div>
                @if (!string.IsNullOrEmpty(item.icons)) {
                <p class="icons">
                    @foreach (var icon in item.icons.Trim().Split(','))
                    {
                        <img alt="@icon" src="/img/icons/@(icon).png" />
                    }
                </p>
                }
            </li>
        }
    </ul>
    @if (string.IsNullOrEmpty(product_alias)) {
        <div id="item_card_container" class="closed"></div>
    } 
    else 
    {
        <div id="item_card_container">
            @Html.Partial("product_card", _product)
        </div>
    }
</div>

<div class="assortment"></div>

<h2 id="scratch_reviews"><span>ОТЗЫВЫ</span></h2>
<div class="wrapper cb">
    <div class="text_review">
        <div class="item cb">
            <a href="http://vk.com/id7400487" target="_blank"><img class="pic" alt="" src="/img/reviews/vladimirova_tatiana.jpg" /></a>
            <a class="name vk" href="http://vk.com/id7400487" target="_blank">Татьяна Владимирова (г. Днепропетровск), парикмахер</a>
            <div class="text">
                Масло Blossom - настоящая находка! классная штука, это масло у нас в днепропетровске редкость. лично я, применяла его в качестве маски для волос, и для ухода за кожей. эффект великолепный! волосы стали напитанными и блестящими, а кожа после использования - бархатной. рекомендую!
            </div>
        </div>
        <div class="item cb">
            <a href="http://vk.com/tusya_yahoo" target="_blank"><img class="pic" alt="" src="/img/reviews/mironenko_natalia.jpg" /></a>
            <a class="name vk" href="http://vk.com/tusya_yahoo" target="_blank">Наталья Мироненко (г. Волгоград)</a>
            <div class="text">
                Запах просто божественный!!) Но самый главный плюс - это его воздействие на волосы!! Наносила на 1 час, на длину - смывается отлично, волосы мягкие, гладкие, 
                блестящие! А такого результата на милированных волос очень сложно добиться. <br />Спасибо Вам за масла и за подарочек)*
            </div>
        </div>

        <p style="text-align:right; font-family:'Segoe UI'; margin:-20px 0 0;">
            <a class="write_review" href="javascript:;" style="color:#8D5A2C;">написать свой отзыв »</a><br />
            <a href="javascript:;" onclick="$$('.text_review .toggle').toggleClass('dn');">читать все отзывы »</a>
        </p>

        <div class="toggle dn">
            <div class="item without_img cb">
                <span class="name">Светлана Николаева (г. Москва) @*Время сервера 22.09.2013 17:47:36*@</span>
                <div class="text">
                    Обожаю кокосовое масло, использую его в уходе за телом и волосами. У масла Blossom потрясающий, очень вкусный, натуральный аромат! 
                    Текстура и цвет – именно такие, как и должны быть у качественного масла. Но главное, мне очень понравился результат от использования. 
                    Волосы после кокосового масла выглядят очень ухоженными, здоровыми, очень красиво блестят! Приятно удивило, что это масло хорошо смывается 
                    (а с другими маслами были затруднения). Считается, что хорошее масло не должно вызывать проблем при смывании с волос; и в случае с данным 
                    маслом именно так! Для тела оно тоже прекрасно подходит. Это масло хорошо впитывается, кожа становится мягкой, упругой, приятной на ощупь. 
                    Так же, оно подойдет для загара. Спасибо, мне очень понравилось это масло!
                </div>
            </div>
            <div class="item without_img cb">
                <span class="name">Мария Маскова (г. Томск) @*Время сервера 18.09.2013 09:45:35*@</span>
                <div class="text">
                    Добрый день! Заказала кокосовое масло и осталась очень довольна и качеством продукта и сервисом обслуживания! Об обслуживание отдельно бы хотелось сказать. 
                    Заказ приняли, созвонились, после оплаты на следующий день уже прислали письмо в котором сообщали об отправки с номерами для отслеживания 
                    и фото моей посылки на которой красовался адрес и я смогла ещё раз убедится что посылка отправлена действительно туда куда следует)) 
                    Теперь о масле масло нежное лёгкое прекрасно впитывается подходит и для массажа и для волос в виде масок, кроме того оно питьевое 
                    и при желании его можно употребить и внутрь что тоже очень удобно - ненужно кучу баночек и скляночек! Теперь вот ещё мечтаю применить 
                    его для загара, но лето кончилось придётся подождать следующего сезона............))! Спасибо магазину!
                </div>
            </div>
            <div class="item cb">
                <a href="http://vk.com/a.tkachenko" target="_blank"><img class="pic" alt="" src="/img/reviews/goryacheva_nastya.jpg" /></a>
                <a class="name vk" href="http://vk.com/a.tkachenko" target="_blank">Анастасия Горячева (г. Новосибирск)</a>
                <div class="text">
                    Про увлажнение писать не буду и так все знают как оно смягчяет и увлажняет кожу. Что мне понравилось из других качеств... мой муж от запаха 
                    масла был безума) Блоссом бесподобен! ... и спасибо вам за подарок, очень кстати)
                </div>
            </div>
            <div class="item cb">
                <a href="http://vk.com/rita1986" target="_blank"><img class="pic" alt="" src="/img/reviews/gilmutdinova_margarita.jpg" /></a>
                <a class="name vk" href="http://vk.com/rita1986" target="_blank">Маргарита Гильмутдинова (г. Челябинск)</a>
                <div class="text">
                    Использовала кокосовое масло Blossom для волос. Как маска перед мытьём за час-два - хорошая штука. Легко смывается. 
                    После масла волосы становятся мягче и перестают "ломаться", придаёт волосам ухоженный вид. И для загара оно шикарно, ложиться всё ровно. 
                    Кожа остаётся нежной и гладкой на долго, а блестит как с обложки журнала! Очень понравилось! Спасибо что вы есть!
                </div>
            </div>
            <div class="item cb">
                <a href="http://vk.com/id68664410" target="_blank"><img class="pic" alt="" src="/img/reviews/chernovskaya_nastya.jpg" /></a>
                <a class="name vk" href="http://vk.com/id68664410" target="_blank">Настя Черновская (г. Москва)</a>
                <div class="text">
                    Читала в инете что если сгореть на солнце и сразу намазаться кокосовым маслом то кожа не облазит. Так вот... оно действительно снимает 
                    неприятные ощущения после ожогов! Красная кожа на шее быстро стала темной, цвета качественного загара)), жжение прошло сразу 
                    и кожа не облезла, классно))) очень довольна
                </div>
            </div>
            <div class="item cb">
                <a href="http://vk.com/slada_om" target="_blank"><img class="pic" alt="" src="/img/reviews/koksharova_slada.jpg" /></a>
                <a class="name vk" href="http://vk.com/slada_om" target="_blank">Слада Кокшарова (г. Москва), инструктор йоги</a>
                <div class="text">
                    Масло качественное, по текстуре нежное и хорошо очищенное - не слишком жирное, легко впитывается в кожу при нанесении в качестве бальзама 
                    на тело и легко смывается с волос- если использовать как маску для волос. Запах очень приятный, натуральный - т.е. не воняет Баунти, а имеет запах свежеразрубленного кокоса. Аромат от тела-просто объедение а также 
                    на него очень хорошо и ровно ложится загар. <br />
                    Очень понравилось как альтернатива химическим бальзамам и маскам, т.к. 100% натуральный продукт а результат превосходит все ожидания, 
                    кожа тела после масла нежная и очень красивая и волосы перестают ломаться. К тому же экономично расходуется, что тоже приятно. 
                    В Москве такое тяжело найти. Спасибо!!
                </div>
            </div>
            <div class="item without_img cb">
                <span class="name">Лилия (г. Днепропетровск)</span>
                <div class="text">
                    Здравствуйте!!! Раньше пользовалась маслом из Таиланда для кожи, поэтому знаю зачем оно мне. В этот раз заказывала когда была беременна, 
                    втирала в кожу живота для эластичности. Результата долго не пришлось ждать, кожа стала эластичной что и нужно было от натурального масла. 
                    Желаю Вам побольше хороших клиентов. Развивайтесь, удачи Вам и процветания!!!
                </div>
            </div>

            <p style="text-align:right; font-family:'Segoe UI'; margin:-20px 0 0;">
                <a href="javascript:;" onclick="$$('.text_review .toggle').toggleClass('dn');">« закрыть</a>
            </p>
        </div>
    </div>
    <div class="audio_review">
        <div>
            <div><embed type="application/x-shockwave-flash" src="/content/audio/audioplayer.swf?file=/content/audio/20131102_audio4.mp3&startplay=false" width="96" height="20" allowscriptaccess="sameDomain" bgcolor="#ffffff" quality="high" wmode="opaque"></embed></div>
            «Мне понравилось ваше масло.»
        </div>
        <div>
            <div><embed type="application/x-shockwave-flash" src="/content/audio/audioplayer.swf?file=/content/audio/20131102_audio1.mp3&startplay=false" width="96" height="20" allowscriptaccess="sameDomain" bgcolor="#ffffff" quality="high" wmode="opaque"></embed></div>
            «Всё нормально, работа хорошая. Я у вас получил, мы сейчас его принимаем, пьём.»
        </div>
        <div>
            <div><embed type="application/x-shockwave-flash" src="/content/audio/audioplayer.swf?file=/content/audio/20131102_audio2.mp3&startplay=false" width="96" height="20" allowscriptaccess="sameDomain" bgcolor="#ffffff" quality="high" wmode="opaque"></embed></div>
            «Очень понравилось, и по цвету и по запаху, т.е. качественное хорошее.»
        </div>
        <div>
            <div><embed type="application/x-shockwave-flash" src="/content/audio/audioplayer.swf?file=/content/audio/20131102_audio3.mp3&startplay=false" width="96" height="20" allowscriptaccess="sameDomain" bgcolor="#ffffff" quality="high" wmode="opaque"></embed></div>
            «Хорошее... мне очень понравилось, да. Заказала ближе к вечеру, мне его привезли сразу.»
        </div>
    </div>
</div>

<div class="step_palm">
    <p>
        ПОЧУВСТВУЙ ЛЁГКУЮ<br />
        ПРОХЛАДУ АРОМАТНОГО<br />ЛЕТНЕГО БРИЗА И ОКУНИСЬ<br />
        В ЧАРУЮЩУЮ СЛАДОСТЬ<br />
        КОКОСОВОГО МАСЛА<br />
        ИЗ САМОГО СЕРДЦА<br />
        ТАИЛАНДА!
    </p>
</div>

<h2>ИЗВЕСТНЫЕ ГОЛЛИВУДСКИЕ ЗВЁЗДЫ,<br />КОТОРЫЕ ПОЛЬЗУЮТСЯ КОКОСОВЫМ МАСЛОМ</h2>
<div class="stars">
    <p class="s1"></p><p class="s2"></p><p class="s3"></p><p class="s4"></p><p class="s5"></p>
    <div rel="520" class="cb dn">
        <h3>Эмили Джин Стоун</h3>
        <div class="desc">
            <span class="brown">Американская актриса. Наиболее известна по фильмам «Отличница лёгкого поведения», за игру в котором она была номинирована на премию «Золотой глобус» за лучшую женскую 
            роль — комедия или мюзикл, «Прислуга» и «Новый Человек-паук», в котором она сыграла роль Гвен Стейси, девушки супергероя Человека-паука. 
            Номинантка на премию BAFTA — Восходящая звезда.</span>
        </div>
        <div class="pics">
            <img style="" alt="" src="http://99px.ru/sstorage/53/2013/03/mid_65074_4211.jpg"/>
        </div>
        <div class="desc">
            <img style="float:left; margin:0 30px 0 0;" alt="" src="http://www.uznayvse.ru/images/celebs/emmastoun_small.jpg"/>

            "Я аллергик, поэтому я увлажняю кожу только оливковым маслом, потому что знаю, что от него у меня точно не будет раздражения. 
            Вечером я снимаю косметику <strong>кокосовым маслом</strong>".
        </div>
    </div>
    <div rel="820" class="cb dn">
        <h3>Дженнифер Линн Лопес</h3>
        <div class="desc">
            <span class="brown">Американская актриса, певица, танцовщица, модельер,продюсер и бизнес-вумен</span>
        </div>
        <img style="float:left; margin:0 30px 0 0; width:380px;" alt="" src="http://cs409926.vk.me/v409926043/51cb/qxQJmQPaj6w.jpg"/>
        <div class="desc">
            Бьюти-индустрия постоянно предлагает новые решения проблемы увлажнения кожи. Но Дженнифер Лопес признается, что в этом вопросе остается крайне консервативна: 
            «Лучше всего увлажняют и защищают кожу средства на основе экстракта розы, авокадо и <strong>кокосового масла</strong>. После нанесения таких кремов макияж прекрасно 
            ложится и долго держится».
        </div>
        <img style="width:325px;" alt="" src="http://actors-info.com/wp-content/uploads/2012/03/184.jpg"/>
    </div>
    <div rel="800" class="cb dn">
        <h3>Дженнифер Джоанна Энистон</h3>
        <img style="float:left; margin:0 30px 0 0; width:330px;" alt="" src="http://cs409926.vk.me/v409926043/5180/Tprgh3BQv7w.jpg"/>
        <div class="desc">
            <span class="brown">Американская актриса, наиболее известная как исполнительница роли Рэйчел Грин в телевизионном сериале «Друзья», за которую она была удостоена премий 
                «Эмми» и «Золотой глобус». Обладательница именной звезды на Голливудской Аллее Славы, которую получила 23 февраля 2012 года, за день до американской 
                премьеры комедии с её участием «Жажда странствий».</span>
        </div>
        <div class="desc">
            Во многих диетах «от Дженифер» фигурирует кокосовое масло, которое актриса рекомендует для похудения. 
            Диетологи пребывают в замешательстве, так как насыщенные жиры не совсем то, что нужно для достижения стройности. Но кокос – продукт, несомненно, полезный. 
            Ведь в нем содержатся витамины и микроэлементы, которых так недостает в рационе сидящих на диете. 
            Многие медики считают, что в рационе питания Джен есть определенные плюсы (если не считать жирных продуктов, 
            которые так любит Энистон).
        </div>
    </div>
    <div rel="730" class="cb dn">
        <h3>Анджелина Джоли Войт</h3>
        <div class="desc">
            <span class="brown">Американская актриса, режиссёр и сценарист, фотомодель, посол доброй воли ООН</span>
        </div>
        <img style="float:left; margin:0 30px 0 0; width:350px;" alt="" src="http://cs613528.vk.me/v613528043/14a4/-2z8Qx0AqnM.jpg"/>
        <div class="desc">
            Обычный рацион удивительно стройной Джоли состоит из чайной ложки кокосового масла и горсти хлопьев для завтрака, иногда она просто перекусывает 
            на ходу несколькими миндалинами и парой жевательных конфет в виде медведей.
        </div>
        <img style="width:324px;" alt="" src="http://static.akipress.org/127/.storage/limon/images/October2012/5ceeb840ecc41a3314762dce79ea253f.jpg"/>
    </div>
    <div rel="630" class="cb dn">
        <h3>Жизель Каролин Нонненмахер Бюндхен</h3>
        <div class="desc">
            <span class="brown">Бразильская супермодель, одна из самых известных в мире. <br />Также она известна как одна из ангелов Victoria's Secret.</span>
        </div>
        <div class="pics">
            <img alt="" src="http://www.novostimira.com.ua/gallery/1358348678_693.jpg" />
        </div>
        <div class="desc">
            Как и все бразильянки, она знает толк в маслах. Её любимое – кокосовое. Это источник антиоксидантов, отличный анти-age ингредиент. 
            Легко впитывается и не оставляет следов. Для волос Жизель так использует <strong>кокосовое масло</strong>: наносит на корни волос и кончики, массирует в течение нескольких минут, 
            оставляет на час, затем смывает шампунем. Если нет кокосового масла, то всё то же самое она проделывает с оливковым. Роскошные волосы модели – 
            доказательство эффективности такого масляного метода питания и увлажнения волос.<br /><br />

            «Моя страсть к здоровому питанию передалась и моим детям. Они почти не едят сладкого, а старший — Бенджамин — когда ест брокколи, думает, что это десерт. 
            На его последний день рождения мы приготовили торт из порошка какао, <strong>кокосового масла</strong> и фиников — просто взбили все в блендере и выложили в форме пирога.»
        </div>
    </div>
</div>

<div id="cart_container" class="cart half_open dn cb">
    <div class="left">
        <p class="pager"></p>
        <h3>КОРЗИНА</h3>
        <ul class="items"></ul>
    </div>
    <div class="right">
        <p class="total_price" title="Общая сумма заказа"><span id="cart_total_price">0</span> р</p>
        <p id="btn_order_cart" class="btn_buy">ПОДТВЕРДИТЬ ЗАКАЗ</p>
        <p class="free_delivery hide">* доставка бесплатно!</p>
    </div>
    <a class="toggle" href="javascript:;"></a>
</div>

<script type="text/javascript" src="/js/site_index.js?@(DateTime.Now.ToString("yyMMdd"))"></script>