@{
    Layout = "~/_template.cshtml";

    var controller_name = Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    var action_name = Request.RequestContext.RouteData.Values["action"].ToString().ToLower();

    var articles_arr = new Dictionary<string, string[]> { 
        {"dlya_volos", new string[] {
            "для волос", 
            "Кокосовое масло для волос",
            "15 СЕНТЯБРЯ 2013",
            "/img/articles/001.jpg",
            "Кокосовое масло является одним из лучших источников питательных веществ, сохраняющих волосы здоровыми. Оно способствует их росту и придает блеск. Регулярный массаж головы с кокосовым маслом освобождает от перхоти, а также восстанавливает поврежденные волосы, обеспечивая их необходимыми протеинами…"}},
        {"coconut_oil", new string[] {
            "общая информация", 
            "Где применяется наше кокосовое масло",
            "16 СЕНТЯБРЯ 2013",
            "/img/articles/016.jpg",
            "Кокосовое масло - это универсальное средство для всего тела! Если вы цените естественную красоту, то кокосовое масло обязано быть в Вашем списке средств по уходу за телом. С помощью него можно решить многие проблемы: сухость и потеря блеска волос, шелушение кожи, смягчение грубых участков кожи (локти, пятки) и многие другие, сфера его применения практически не имеет границ."}},
	    {"dlya_zagara", new string[] {
            "для загара", 
            "Кокосовое масло для загара",
            "19 СЕНТЯБРЯ 2013",
            "/img/articles/013.jpg",
            "Кокосовое масло делает загар ровным, при этом препятствует обезвоживанию и сухости кожи. Кожа приобретает бронзовый оттенок очень быстро. С кокосовым маслом Вы получаете отличный загар и красивую сиящую кожу. Никаких шелушений и облезаний, ожогов и красноты. Красивый загар — одно из лучших качеств кокосового масла."}},
	    {"dlya_lica", new string[] {
            "для лица", 
            "Кокосовое масло для лица",
            "20 СЕНТЯБРЯ 2013",
            "/img/articles/030.jpg",
            "Кокосовое масло полезно для любого типа кожи. Оно разглаживает кожу, и имеющиеся на ней неглубокие морщинки, повышает общий тонус, упругость и эластичность кожных покровов. Это отличное средство для ухода за вялой, дряблой и стареющей кожей лица."}},
	    {"dlya_tela", new string[] {
            "для тела", 
            "Кокосовое масло для тела",
            "21 СЕНТЯБРЯ 2013",
            "/img/articles/021.jpg",
            "Кокосовое масло также можно использовать в уходе за чувствительной, воспаленной и раздраженной кожей, т.к. оно обладает хорошим противовоспалительным, противомикробным, и успокаивающим действием. В том числе после эпиляции."}},
        {"dlya_kogi", new string[] {
            "для кожи", 
            "Кокосовое масло для кожи",
            "23 СЕНТЯБРЯ 2013",
            "/img/articles/019.jpg",
            "Что касается ухода за кожей, кокосовое масло — незаменимое средство. В отличие от других масел, быстро впитывается, делает кожу очень мягкой, хорошо увлажняет и защищает. Кокосовое масло эффективно в борьбе с сухостью кожи, разглаживает морщины, предотвращает появление растяжек и делает кожу нежной, здоровой, эластичной и бархатной."}},
        {"ot_rastyagek", new string[] {
            "от растяжек", 
            "Кокосовое масло от растяжек",
            "28 СЕНТЯБРЯ 2013",
            "/img/articles/032.jpg",
            "Если Вас беспокоит эстетический вид растяжек, то кокосовое масло поможет решить и эту проблему. Для предотвращения растяжек следует делать массаж кожи с применением..."}},
        {"v_pishu", new string[] {
            "в пищу", 
            "Кокосовое масло в пищу",
            "4 ОКТЯБРЯ 2013",
            "/img/articles/003.jpg",
            "Кокосовое масло, обладая мягкой консистенцией и изысканным тонким ароматом, не теряет своих ценных свойств даже при многократном нагревании. Поэтому, если Вас интересует полезное питание, используйте кокосовое масло, к примеру, вместо маргарина или подсолнечного масла. Ввести его в рацион обязательно стоит тем, у кого страдает щитовидная железа или проблемы есть с переизбытком веса. Ученые выяснили недавно, что кокосовое масло полностью усваивается, не откладываясь в жиры."}},
        {"pri_beremennosti", new string[] {
            "при беременности", 
            "Кокосовое масло при беременности",
            "9 ОКТЯБРЯ 2013",
            "/img/articles/033.jpg",
            "Благодаря своим полезным свойствам, кокосовое масло способно предотвратить появление растяжек в проблемных областях у беременных, поскольку оно укрепляет ткани эпидермиса, вырабатывает эластиновые волокна, тем самым повышая эластичность кожного покрова."}},
        {"dlya_piema_vnutr", new string[] {
            "для приёма внутрь", 
            "Кокосовое масло для приема внутрь",
            "10 ОКТЯБРЯ 2013",
            "/img/articles/015.jpg",
            "Кокосовое масло улучшает пищеварение и таким образом способно предупредить заболевания, связанные с желудком и кишечником. Насыщенные жиры кокосового масла обладают антимикробными свойствами и помогают бороться с различными бактериями, грибками, паразитами. Кокосовое масло также помогает усваиванию витаминов, минералов и аминокислот."}},
        {"dlya_pohudenia", new string[] {
            "для похудения", 
            "Кокосовое масло для похудения",
            "11 ОКТЯБРЯ 2013",
            "/img/articles/037.jpg",
            "Кокосовое масло содержит короткие и средние цепи жирных кислот, которые помогают сбросить лишний вес. Также оно легко усваивается и помогает здоровому функционированию щитовидной железы и эндокринной системы. Кроме того, кокосовое масло усиливает метаболизм, тем самым сжигая больше энергии и помогая тучным людям сбросить вес."}},
        {"dlya_massaga", new string[] {
            "для массажа", 
            "Кокосовое масло для массажа",
            "19 ОКТЯБРЯ 2013",
            "/img/articles/035.jpg",
            "Кокосовым маслом можно делать массаж тела, параллельно поможет от морщинок и растяжек. Кожа после массажа будет бархатная, масло впитается быстро, а удовольствие от массажа многократно увеличенно."}},
        {"ot_cellulita", new string[] {
            "от целлюлита", 
            "Кокосовое масло от целлюлита",
            "24 ОКТЯБРЯ 2013",
            "/img/articles/032.jpg",
            "Неизвестно кто и когда первым произнес этот страшный для каждой девушки термин «апельсиновая корка», но всем понятно, что данная проблема уже давно волнует женскую часть населения нашей страны."}},
        {"ot_ojogov", new string[] {
            "от ожогов", 
            "Кокосовое масло от ожогов",
            "3 НОЯБРЯ 2013",
            "/img/articles/013.jpg",
            "При нанесении на пораженные места, кокосовое масло формирует слой, который защищает от внешней пыли, воздуха, грибков, бактерий и вирусов. Кокосовое масло эффективно лечит ожоги, поскольку ускоряет процесс заживления поврежденных тканей."}},
        {"ot_perhoti", new string[] {
            "от перхоти", 
            "Кокосовое масло от перхоти",
            "15 НОЯБРЯ 2013",
            "/img/articles/030.jpg",
            "Кокосовое масло является одним из лучших источников питательных веществ, сохраняющих волосы здоровыми. Оно способствует их росту и придает блеск. Регулярный массаж головы с кокосовым маслом освобождает от перхоти, а также восстанавливает поврежденные волосы, обеспечивая их необходимыми протеинами."}},
        {"dlya_kogi_golovi", new string[] {
            "для кожи головы", 
            "Кокосовое масло для кожи головы",
            "27 НОЯБРЯ 2013",
            "/img/articles/001.jpg",
            "Кокосовое масло эффективно для решения проблем волос и кожи головы. Достаточно втирать небольшое количество масла в кожу головы, распределяя по всей длине. Смывать минимум через 40 минут, а лучше оставить подольше или делать маску на ночь. Оно борется с сухостью волос и кожи головы, лечит педикулез, останавливает выпадение волос и стимулирует рост новых, прекрасно ухаживает за волосами."}},
        {"dlya_nog", new string[] {
            "для ног", 
            "Кокосовое масло для ног",
            "1 ДЕКАБРЯ 2013",
            "/img/articles/034.jpg",
            "Кокосовое масло является отличным смягчающим средством для ступней и локтей. Удивительный эффект не заставит себя долго ждать — кожа сразу становится мягкой, нежной."}},
        {"ot_morshin", new string[] {
            "от морщин", 
            "Кокосовое масло от морщин",
            "16 ДЕКАБРЯ 2013",
            "/img/articles/031.jpg",
            "Подтянуть кожу лица можно с помощью натуральных продуктов, например, используя кокосовое масло от морщин. Появление морщин может быть связано не только со старением, но быть результатом влияния внешней среды или быстрой потери веса. Благодаря высокому содержанию антиоксидантов и насыщенных жиров кокосовое масло уменьшает морщины. Кроме того, оно помогает предотвратить такие признаки старения как пигментные пятна."}},
        {"dlya_rta", new string[] {
            "для полости рта", 
            "Кокосовое масло для полости рта и зубов",
            "17 ДЕКАБРЯ 2013",
            "/img/articles/028.jpg",
            "В нашей ротовой полости идеальные условия для размножения бактерий, микробов и вирусов. Со слюной они попадают в желудок, через десна в кровь, отравляют наш организм и разрушают зубы. Чистка зубов обычной зубной пастой избавляет только от 10% бактерий. Регулярное полоскание полости рта кокосовым маслом не только защитит вас от микробов и вирусов, но и повысит защитные функции вашего организма, укрепит десны и зубы, избавит от болезней ротовой полости, снимет налет и зубной камень, устранит запах изо рта."}}
    };

    var article_alias = String.Empty;
    var article_title = String.Empty;

    if (controller_name == "articles" && Request.RequestContext.RouteData.Values.ContainsKey("alias"))
    {
        article_alias = Request.RequestContext.RouteData.Values["alias"].ToString();
        article_title = articles_arr[article_alias][1];
    }

    if (article_alias == "index" || !articles_arr.ContainsKey(article_alias))
    {
        article_alias = String.Empty;
    }
}
@section title {
    @if (string.IsNullOrEmpty(article_alias))
    {
        <title>Статьи. Суперфуды. Применение, польза, свойства, достоинства, результаты. Интернет-магазин кокосового масла из Тайланда</title>
    }
    else
    {
        <title>@article_title. Применение, польза, свойства, достоинства, результаты. Интернет-магазин кокосового масла из Тайланда</title>
    }
    <meta name="description" content="Интернет-магазин кокосового масла высшего качества. 100% натуральное кокосовое масло холодного отжима! Кокосовое масло для волос, для загара, для лица, для тела, для кожи, от растяжек. Отзывы о лучшем кокосовом масле из Тайланда. Бесплатная доставка по всей России" />
    <meta name="keywords" content="кокосовое масло, кокосовое масло купить, заказать кокосовое масло, кокосовое масло из тайланда, кокосовое масло из тайланда купить, кокосовое масло для волос, кокосовое масло для загара, кокосовое масло для лица, кокосовое масло интернет магазин, польза кокосового масла" />
}
<div style="background:#D7D0CD url(/img/slide_articles.jpg) no-repeat 50% 90%; background-size:cover; height:200px; margin:0 0 60px;">
</div>

@if (string.IsNullOrEmpty(article_alias))
{
<div class="wrapper" style="width:930px;">
    <div class="content">
        <h2><span>СТАТЬИ</span></h2>
        <p class="h30"></p>
        <ul class="articles_list">
            @foreach (var item in articles_arr)
            {
            <li class="item">
                <a class="title" href="/articles/@item.Key">@item.Value[1]</a>
                <a href="/articles/@item.Key"><img class="pic" alt="" src="@item.Value[3]" /></a>
                <div class="desc">@item.Value[4]</div>
                <p class="date"><a class="more" href="/articles/@item.Key">ЧИТАТЬ ДАЛЕЕ »</a>@item.Value[2]</p>
            </li>
            }
        </ul>
    </div>
</div>
}
else
{
<div class="wrapper" style="width:930px;">
    <div class="content article_content">
        <h2><span>@(article_title.ToUpper())</span></h2>
        
        <div class="text">
            @if (article_alias == "dlya_volos")
            {
                <h1>ПРИМЕНЕНИЕ, ПОЛЬЗА И РЕЗУЛЬТАТЫ</h1>
                <p>
                    Кокосовое масло является одним из лучших источников питательных веществ, сохраняющих волосы здоровыми. Оно способствует их росту и придает блеск. Регулярный массаж головы 
                    с кокосовым маслом освобождает от перхоти, а также восстанавливает поврежденные волосы, обеспечивая их необходимыми протеинами. Поэтому кокосовое масло используют 
                    в производстве различных бальзамов и кремов для волос.
                </p>
                <p>
                    Для волос кокосовое масло является самым действенным: разглаживает волосы, делает мягкими и шелковистыми и главное блестящими!
                </p>
                <br />
                <h3>Влияние кокосового масла очень благотворно <br />и подтверждается многочисленными отзывами:</h3>
                <p class="h10"></p>
                <ul>
                    <li>облегчает расчесывание волос;</li>
                    <li>волосы становятся мягкими и красивыми;</li>
                    <li>очень полезно для окрашенных и пересушенных волос;</li>
                    <li>проникая в структуру волос, обеспечивает питание и защиту от внешних воздействий;</li>
                    <li>волосы перестают пушиться;</li>
                    <li>сокращает выпадение волос, после первого применения;</li>
                    <li>улучшает состояние посеченных и склонных к сечению кончиков волос;</li>
                    <li>волосы приобретают здоровый блеск и увлажнение;</li>
                    <li>благоприятствует росту волос;</li>
                    <li>помогает в борьбе с перхотью и от сечения;</li>
                    <li>спасает от сухости и от ломкости волос.</li>
                </ul>
                
                <p class="h20"></p>
                <img class="db" alt="" src="/img/articles/001.jpg" />
                <p class="h30"></p>
                
                <p>
                    Кокосовое масло быстро восстанавливает структуру поврежденных волос, стимулирует их рост, увлажняет, придает блеск и защищает 
                    от повреждений — один из лучших питательных компонентов для Ваших волос.
                </p>
                <p>
                    Кокосовое масло — это лучшее средство при секущихся и ломких волосах. 
                    Даже очень хороший и дорогой шампунь лишает волосы блеска и «вытягивает» структурный белок. 
                    Кокосовое масло, нанесённое перед душем, защищает волосы от вредного воздействия шампуня. 
                    Волосы намного меньше повреждаются в процессе сушки и при расчесывании.
                </p>
                <p>
                    Кокосовое масло одновременно подсушивает, питает и придаёт блеск волосам, поэтому, если наносить его на волосы после мытья (2-3 капли, избегая корней волос), 
                    то волосы не будут казаться жирными, а секущиеся и ломкие концы будут очень довольны. Если предварительно подровнять волосы — подстричь секущиеся кончики, 
                    то с применением кокосового масла они могут оставаться здоровыми постоянно.
                </p>
                
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/029.jpg" />
                <p class="h30"></p>
                
                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                    <strong>ВАРИАНТ №1</strong><br />
                    Нанести на волосы, втереть в корни, утеплить голову полотенцем и держать не менее 30 минут, чем дольше, тем лучше. Можно оставить масло на волосах на всю ночь. <br />
                    <span class="brown">Массаж головы с применением кокосового масла избавит от перхоти, укрепит корни и ускорит рост волос.</span>
                    <br /><br />

                    <strong>ВАРИАНТ №2</strong><br />
                    Маска для волос из кокосового масла наносится за час до мытья головы или на всю ночь. Кокосовое масло в чистом виде нужно просто втереть в корни волос, 
                    кожу головы и распределить по всей длине волос. Достаточно 1-2 столовых ложек масла (для длинных волос). 
                    <br /><br />

                    <strong>ВАРИАНТ №3</strong><br />
                    Две чайные ложки масла аккуратно втираем в волосы, не трогая корни и промазывая каждый волос. Одеваете полиэтиленовую шапочку и ждёте 1 час. 
                    Через час промываете волосы <strong class="brown">мягким</strong> шампунем.
                    <br /><br />
                </p>
                <p>
                    <strong>ВАРИАНТ №4</strong><br />
                    Использование на кончики волос, особенно действенно для сухих волос. Для этого нанесите небольшую порцию масла на руки, разотрите в ладонях и нанесите на вымотые, 
                    чуть подсушенные кончики волос. Волосы будут мягкие, эластичные, гладкие и блестящие.
                    <br /><br />
        
                    <strong>ВАРИАНТ №5</strong><br />
                    Возьмите (налейте) небольшое количество на пальцы и нанесите на кончики волос. Рекомендуется наносить подобным образом кокосовое масло на ночь, 
                    заплетая слабую косу для лучшего эффекта. С утра смойте шампунем и наслаждайтесь блеском :)
                    <br /><br />
                </p>

                <img style="display:block; margin:0 auto;" alt="" src="/img/articles/028.jpg" />

            }
            else if (article_alias == "coconut_oil")
            {
                <p>
                    Кокосовое масло - это универсальное средство для всего тела!<br /><br />

                    Если вы цените естественную красоту, то кокосовое масло обязано быть в Вашем списке средств по уходу за телом.<br /><br />
    
                    С помощью него можно решить многие проблемы: сухость и потеря блеска волос, 
                    шелушение кожи, смягчение грубых участков кожи (локти, пятки) и многие другие, сфера его применения практически не имеет границ.
                </p>
                <br />
                <h3>С ЕГО ПОМОЩЬЮ МОЖНО РЕШИТЬ ЦЕЛЫЙ РЯД ПРОБЛЕМ С КОЖЕЙ:</h3>
                <ul>
                    <li>кокосовое масло активно защищает кожу и волосы от негативного воздействия окружающей среды;</li>
                    <li>обладает легким охлаждающим эффектом, поэтому его можно наносить на кожу после загара;</li>
                    <li>эффективно увлажняет кожу, борется с сухостью, замедляет старение;</li>
                    <li>кокосовое масло применяют для лечения кожных проблем и заболеваний — шелушения, раздражений, сыпи, прыщей;</li>
                    <li>повышает упругость и эластичность кожи, прекрасно подходит для лечения и профилактики целлюлита;</li>
                    <li>предохраняет кожу от обвисания при стремительном похудении.</li>
                </ul>
                
                <p class="h20"></p>
                <img class="db" alt="" src="/img/articles/016.jpg" />
                <p class="h30"></p>
                
                <p>
                    Кокосовое масло не содержит холестерина — единственное масло, которое содержит 92% насыщенных жирных кислот, то есть не допускает 
                    образование свободных радикалов и трас жиров. Кокосовое масло устойчиво к разрушению и имеет большой срок годности. Оно устойчиво 
                    к действию света, воздуха и тепловой обработке. Более того, оно содержит большое количество антиоксидантов, это лучшее масло 
                    для сохранения и восстановления здоровья.
                </p>
                <p>
                    Жирные кислоты и лауриновая кислота сохраняют молодость, продлевая жизнь. Кокосовое масло содержит лауриновую кислоту такого же типа, 
                    как и материнское молоко. Эта кислота защищает младенцев до 6 месяцев, когда иммунная система малыша еще не сформировалась. 
                    Она убивает вирусы, бактерии, грибки и простейших. Кокосовое масло повышает уровень лауриновой кислоты в материнском молоке с 3% до 18%.
                </p>
                <p>
                    Кокосовое масло эффективно против различных инфекций благодаря антигрибковым, антивирусным и антибактериальным свойствам. 
                    Оно убивает вирусы, вызывающие грипп, корь, гепатит, герпес, атипичную пневмонию и т. д. Оно также убивает бактерии, 
                    вызывающие язвы, инфекции горла, инфекции мочевого тракта, пневмонию и гонорею. Кокосовое масло также эффективно против 
                    грибков и дрожжей, вызывающих кандидоз, стригущий лишай, молочницу и т.п.
                </p>
                <br />
    
                <h2><span>ЛЕЧЕБНОЕ ДЕЙСТВИЕ</span></h2>
                <p>
                    Кокосовое масло обладает гиполипидемическим действием. Известна его противомикробная и противовирусная 
                    активность (в отношении вирусов гриппа, кори, герпеса).
                </p>
                <p>
                    Если Вы чувствуете себя усталым и вялым, у вас путаются мысли, медленный обмен веществ и лишние килограммы, морщины, сухая кожа, чешуйчатые пятна или экзема Вам 
                    необходимо приобрести кокосовое масло и регулярно его употреблять. Все Ваши проблемы будут разрешены в течение нескольких месяцев.
                </p>
                <p>
                    Раньше считалось, что кокосовое масло вредно, так как в нем содержится большое количество различных жиров. Теперь же этот продукт 
                    вернулся на кухни многих хозяек именно потому, что он может помочь от всех вышеперечисленных недугов. В течение длительного 
                    времени считалось, что кокосовое масло непригодно для употребления в пищу, но исследования показали, что жиры, которые содержатся 
                    в этом масле, очень даже полезны для нашего здоровья. Вот некоторые преимущества добавления масла в свой рацион питания:
                </p>
                <ul>
                    <li>Кокосовое масло отрегулирует работу щитовидной железы. Если Вы постоянно чувствуете себя усталыми, вялыми и постоянно что-то забываете, это говорит о том, 
                        что ваша щитовидная железа нуждается в питании. Вам будет полезно употреблять кокосовое масло в пищу.</li>
                    <li>Отрегулирует обмен веществ. Если Вы хотите сбросить лишние килограммы, то добавляйте масло в свой рацион питания, оно увеличит 
                        скорость метаболизма. Помните, что когда Вы садитесь на диету, ваш организм недополучает многие питательные вещества и поэтому 
                        старается их запасти, таким образом, образуются лишние отложения. Если в Вашем рационе будет много полезных жиров, 
                        то у организма не будет необходимости откладывать их на запас.</li>
                </ul>
                <br />

                <h2><span>ПОКАЗАНИЯ</span></h2>
                <ul>
                    <li>При сухой, раздраженной, чувствительной коже, задубевшей коже.</li>
                    <li>Рафинированное масло используется для лечения ран. </li>
                    <li>Эффективно при сухости и шелушении кожи, трещинах, ожогах. </li>
                    <li>Кокосовое масло самое подходящее средство для поддержки нормальной и здоровой кожи без значительных отклонений от норм.</li>
                    <li>Предохраняет от образования трещин на руках и пятках. </li>
                    <li>До и после принятия солнечных ванн — оно создает устойчивый защитный слой.</li>
                    <li>Для ухода за волосами (прекрасно увлажняет волосы и кожу головы).</li>
                    <li>Отлично подходит как основа под макияж.</li>
                    <li>Для ухода за кутикулой и придания ногтям превосходного вида.</li>
                </ul>
                <br />
                <img class="db" alt="" src="/img/articles/031.jpg" />
                <p class="h30"></p>

                <h2><span>ЧЕМ ЕЩЁ ПОЛЕЗНО КОКОСОВОЕ МАСЛО?</span></h2>
                <ul>
                    <li>Масло укрепляет иммунную систему, помогает справиться с вирусами и бактериями, вызывающими такие болезни, как грипп, вирус цитомегалии,  гепатит и даже ВИЧ.</li>
                    <li>Снижает уровень холестерина в организме.</li>
                    <li>Уменьшает риск возникновения заболеваний сердечно-сосудистой системы, повышенного давления,  внезапного инфаркта или инсульта и рака.</li>
                    <li>Балансирует уровень сахара в крови.</li>
                    <li>Помогает снизить вес. Жиры, содержащиеся в масле кокосового ореха легко сжигаются, не задерживаясь в организме. Масло также ускоряет обмен веществ, 
                        делая организм более крепким и выносливым.</li>
                    <li>Укрепляет десна и зубы;</li>
                    <li>Помогает справиться с простудой и гриппом;</li>
                    <li>Оздоравливает предстательную железу и исцеляет псориаз;</li>
                    <li>Предупреждает онкологию и нормализует работу щитовидной железы;</li>
                    <li>Нормализует выработку гормонов, останавливающих старение организма;</li>
                    <li>Нормализует менструальный цикл, и помогает при гипогликемии;</li>
                    <li>Очищает кровеносные сосуды.</li>
                    <li>Массирование кожи головы кокосовым маслом помогает справиться с перхотью.</li>
                    <li>Благодаря своим антиоксидантным свойствам масло помогает предотвратить преждевременное старение и дегенеративные заболевания.</li>
                    <li>Улучшает пищеварение, предотвращает заболевания желудочно-кишечного тракта. Способствует лучшей усваиваемости 
                        питательных веществ, включая такие минералы, как кальций и магний. Укрепляет зубы и кости.</li>
                    <li>Помогает предотвратить заболевания печени, почек и мочевого пузыря.</li>
                </ul>
            }
            else if (article_alias == "dlya_zagara")
            {
                <div>
                    Кокосовое масло делает загар ровным, при этом препятствует обезвоживанию и сухости кожи. Кожа приобретает бронзовый оттенок очень быстро. 
                    С кокосовым маслом Вы получаете отличный загар и красивую сиящую кожу. Никаких шелушений и облезаний, ожогов и красноты.<br /><br />

                    <span class="brown">Красивый загар — одно из лучших качеств кокосового масла.</span>
                    Просто намажьте тело и лицо перед солнечными процедурами для быстрого шоколадного загара. Кокосовое масло отлично подходит и после загара.<br /><br />

                    Если наносить непосредственно до загара, то Вы получаете красивый ровный загар, <br />а если после — мягкую, увлажненную кожу, 
                    и никакого ощущения стянутости, что часто бывает после солнечных ванн. А ещё кокосовое масло отлично закрепляет загар!

                    <p class="h30"></p>
                    <img class="db" alt="" src="/img/articles/013.jpg" />
                    <p class="h30"></p>

                    Если Ваша кожа после загара шелушиться, то используя кокосовое масло, легко избавиться от этой проблемы.<br /><br />
                    Многие замечают что масло нанесённое после загара, помогает продлить загар в течении 1-2 дней, и делает его ровным и красивым.<br /><br />

                    <span class="brown">Да, кожа темнеет моментально! Но будьте разумны, от долгого пребывания на солнце можно сгореть. 
                        В таком случае, масло облегчит Ваши страдания, но не спасёт полностью :)</span><br /><br />

                    В любом случае используйте кокосовое масло после солнечных ожогов, эффект будет очевидным.
                    <p class="h30"></p>
                    <img class="db" alt="" src="/img/articles/005.jpg" />
                </div>
            }
            else if (article_alias == "dlya_lica")
            {
                <p>
                    Кокосовое масло полезно для любого типа кожи. Оно разглаживает кожу, и имеющиеся на ней неглубокие морщинки, повышает общий тонус, упругость и эластичность кожных покровов. 
                    Это отличное средство для ухода за вялой, дряблой и стареющей кожей лица.
                </p>
                <p class="h20"></p>
                <p>
                    <img style="float:left; margin:0 20px 20px -100px;" alt="" src="/img/articles/030.jpg" />

                    В чистом виде кокосовое масло регулирует выработку кожного сала. Это качество просто незаменимо при уходе за жирной кожей лица и головы. 
                    Кокосовым маслом также можно лечить раны, различного рода дерматиты и долгозаживающие экземы.<br />

                    Кокосовое масло отлично подходит как основа под макияж.
                    Наносите масло на кожу под глазами перед нанесением корректора. Корректор прекрасно ляжет и кожа под глазами будет нежная и мягкая.
                </p>
                <p class="h30"></p>
                <p class="h30"></p>
    
                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                    <img style="float:right; margin:0 -100px 20px 20px;" alt="" src="/img/articles/018.jpg" />

                    <strong>ДЛЯ ГЛАЗ</strong><br />
                    Возьмите каплю кокосового масла, разотрите на пальцах и нанесите на область под глазами — это самое идеальное место для применения. 
                    Или увлажните кожу полностью вокруг глаз. Масло прекрасно работает: смягчает, разглаживает и даже убирает синяки.
                    <br /><br />

                    <strong>ДЛЯ ГУБ</strong><br />
                    Для губ кокосовое масло очень хорошее увлажнение. При обветривании и шелушении губ, нанесите небольшое количество масла 
                    на них. Губы смягчатся, а шелушения пройдут за несколько дней.
                    <br /><br />

                    <strong>ДЛЯ РЕСНИЦ</strong><br />
                    Ресницы тоже волосы. А значит вся польза <a href="/articles/dlya_volos">для волос</a> будет применительна и к ресницам!
                    Возьмите капельку на палец и нанесите на кончики ресниц. Ресницы увеличатся за счёт роста и объёма, окрепнут и станут блестящими.
                    <br /><br />
                </p>
            }
            else if (article_alias == "dlya_tela")
            {
                <div>
                    Кокосовое масло также можно использовать в уходе за чувствительной, воспаленной и раздраженной кожей, т.к. оно обладает хорошим противовоспалительным, 
                    противомикробным, и успокаивающим действием. В том числе после эпиляции. <br /><br />
    
                    Это качество стоит выделить отдельно.
                    Кокосовое масло снимает раздражение наиболее быстро, хорошо увлажняет кожу, отлично впитывается и удобно в применении. 
                    Используя его после бритья и эпиляции, обладает противовоспалительным действием, успокаивает кожу и делает её гладкой.<br /><br />

                    Исследования говорят о том, что кокосовое масло хорошо впитывается и быстро усваивается человеческой кожей. 
                    Оно отлично увлажняет, тонизирует и смягчает кожу, делая её нежной и бархатистой. Образующаяся на коже тонкая пленка защищает 
                    её от вредного воздействия окружающей среды, поэтому кокосовое масло в составе кремов или в чистом виде может выступать в качестве 
                    солнцезащитного средства. Его рекомендуется употреблять до и после принятия солнечной ванны. Это помогает избежать солнечных ожогов 
                    и получить равномерный красивый загар.<br /><br />

                    Кокосовое масло открывает поры, что помогает детоксикации и очищению организма, так как кожа начинает полноценно дышать 
                    и выводить шлаки — идеально для людей ведущих здоровый образ жизни.<br /><br />

                    <span class="brown">Кожа шеи, рук, локтей и вокруг глаз — это первые показатели возраста. <br />Так что начинать ухаживать за этими местами нужно как можно раньше.</span>
                
                    <p class="h30"></p>
                    <img class="db" alt="" src="/img/articles/021.jpg" />
                    <p class="h30"></p>

                    <h2><span>ПРИМЕНЕНИЕ</span></h2>
                    <p>
                        <strong>ПОСЛЕ ДУША</strong><br />
                        Кокосовое масло дает хороший увлажняющий, питательный, размягчающий и противовоспалительный эффект. 
                        Разотрите масло по всему телу после хорошего долгого душа, особенно в проблемных зонах. 
                        Масло впитается за 10-15 минут. От такой процедуры кожа будет бархатной, ухоженной и очень гладкая.
                        <br /><br />

                        <strong>ПРИ СУХОЙ КОЖЕ</strong><br />
                        Довольно частое явление — сухая кожа локтей и пяток. Наносите кокосовое масло на сухие участки раз в 2 дня, до исчезновения симптомов. 
                        Масло интенсивно питает сухие участки кожи, особенно при нанесении на мокрое тело. Количество используемого масла при этом очень мало.
                        Кожа от такой заботы станет невероятно мягкой и гладкой!
                        <br /><br />

                        <strong>НА РАСПАРЕННУЮ КОЖУ</strong><br />
                        После душа, нанесите масло на распаренную кожу тела и пяток. После нескольких процедур, результатом станет более нежная и бархатная кожа, 
                        особенно, филейная часть, а грубые участки, такие как пятки, порадуют Вас смягченной кожей. Растяжки станут менее выраженными.
                        <br /><br />

                        <strong>ПРИ ШЕЛУШЕНИЯХ</strong><br />
                        Нанесите кокосовое масло на зоны шелушения, за ночь оно хорошо впитается, без чувства липкости, и шелушения пройдут. 
                        Кожа станет очень мягкой, хорошо увлажнённой, сияющей и привлекательной.
                        <br /><br />
                    </p>
                </div>
            }
            else if (article_alias == "dlya_kogi")
            {
                <p>
                    Что касается ухода за кожей, кокосовое масло — незаменимое средство. В отличие от других масел, быстро впитывается, делает кожу очень мягкой, хорошо увлажняет и защищает.<br /><br />
                    Кокосовое масло эффективно в борьбе с сухостью кожи, разглаживает морщины, предотвращает появление растяжек и делает кожу нежной, здоровой, эластичной и бархатной.
                </p>
                <br />
                <ul>
                    <li>Масло эффективно увлажняет и питает кожу всех типов.</li>
                    <li>Прекрасное средство для ухода за увядающей кожей.</li>
                    <li>Разглаживает, предотвращает появление морщин, смягчает и придает эластичность. </li>
                    <li>Масло используют для лечения таких кожных заболеваний, как дерматиты, псориаз, экземы и другие инфекции. </li>
                    <li>Быстро заживляет трещины и сухие мозоли, устраняет шелушения, выводит токсины из кожи.</li>
                    <li>
                        Восстанавливает жизненные силы кожи. Если у вас сухая кожа и есть шелушащиеся участки, значит, у вас в организме не хватает витамина А, D, 
                        а также жиров. Клетки, которые состоят из насыщенного жира, особенно нуждаются в нем. Насыщенные жиры дают возможность клеткам 
                        развиваться и функционировать должным образом. Витамины обеспечат клеточные мембраны нужными жирными кислотами и сделают кожу эластичной и гладкой.
                    </li>
                </ul>

                <p class="h20"></p>
                <img class="db" alt="" src="/img/articles/019.jpg" />
                <p class="h30"></p>

                <p class="brown">
                    Кокосовое масло открывает поры, что помогает детоксикации и очищению организма, так как кожа начинает полноценно дышать 
                    и выводить шлаки — идеально для людей ведущих здоровый образ жизни.
                </p>
                <p>
                    Кокосовое масло также является превосходным средством для массажа кожи в целом. Оно действует как интенсивный увлажнитель 
                    для всех типов кожи, включая сухую кожу. Польза кокосового масла для кожи сравнима с пользой минерального масла. Однако, в отличие 
                    от минерального масла, у него нет вредных побочных эффектов. Таким образом, кокосовое масло предотвращает сухость и шелушение кожи, 
                    не приводя к побочным эффектам. Также оно сдерживает образование морщин и возрастных обвислостей кожи. Кокосовое масло помогает 
                    в лечении псориаза, дерматита, экземы и других заболеваний кожи, поэтому оно используется как базовый ингредиент в различных 
                    средствах по уходу за кожей: в мыле, лосьонах, кремах.
                </p>
                <p>
                    Кокосовое масло обладает чудесными свойствами антиоксиданта, который защищает кожу от воздействия свободных радикалов.
                </p>
                <p>
                    Кокосовое  масло убивает грибки, лечит стригущий лишай, хлоазму (гиперпигментация) и дерматиты. Помогает при 
                    герпесе и прочих заболеваниях кожи. Питает и увлажняет кожу, защищает от вредного воздействия солнечных лучей. Разглаживает 
                    морщины, очищает кожу от пятен и веснушек. Помогает при склеродермии, псориазе и размягчает огрубевшую кожу на стопах и ногах. 
                    Устраняет перхоть, укрепляет и питает волосы. <br /><br />
                    <span class="brown">В целом кокосовое масло — это полноценный комплексный уход за кожей и волосами.</span>
                </p>
                
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/031.jpg" />
                <p class="h30"></p>

                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                    <strong>ОТ УГРЕЙ</strong><br />
                    При угревой сыпи ежедневно на 10 минут наносите масло на кожу лица, затем удалите ватным диском и средством для снятия макияжа. 
                    Масло выводит токсины, потому готовьтесь к тому, что все вредные вещества и загрязнения выйдут наружу. Но при регулярном использовании 
                    уже через несколько дней вы будете вознаграждены, кожа станет чистой и здоровой.
                    <br /><br />

                    <strong>ОТ ПРЫЩЕЙ</strong><br />
                    При экземе, акне, алопеции, псориазе, розацеа и других кожных заболеваниях просто наносите небольшое количество кокосового масла в нужные области 1-2 раза в день.
                    Кокосовое масло отлично подходит для избавления от сухой кожи и прыщей. Для быстрого лечения прыщей достаточно смазывать их маслом 2 раза в день.
                    Однако, рекомендуется применять этот способ одновременно с другими способами лечения, чтобы были действия с внутренней и внешней сторон.
                    <br /><br />

                    <strong>ДЛЯ РУК</strong><br />
                    В холодный период времени наносите масло на лицо и руки, оно отлично питает кожу. Это особо актуально для холодной России.
                    Нанесите масло на кожу рук (можно наносить на любые участки кожи), масло моментально впитается, оставив приятный запах, а руки обретут мягкость и бархатистость.
                    Кокосовое масло — превосходное смягчающее средством для ступней, рук и локтей, делающее кожу мягкой, здоровой и нежной.
                    <br /><br />

                    <strong>ПРИ МЕЛКИХ ЦАРАПИНАХ</strong><br />
                    Кокосовое масло помогает быстрому заживлению небольших ранок, ссадин и царапин, питая, защищая и увлажняя повреждённые участки.
                    <br /><br />
        
                    <strong>ДЛЯ УВЛАЖНЕНИЯ</strong><br />
                    Нанести тонким слоем на сухую или чуть влажную (после душа) кожу, помассируйте, оставьте впитываться, чем суше участок, тем больше масла можно наносить.
                </p>
            }
            else if (article_alias == "ot_rastyagek")
            {
                <p>
                    Если Вас беспокоит эстетический вид растяжек, то кокосовое масло поможет решить и эту проблему. Для предотвращения растяжек 
                    следует делать массаж кожи с применением кокосового масла. При сухой и тонкой коже массаж делается ежедневно в течение 
                    10 минут, а вот при жирной кожи массаж лучше делать через каждые 3 дня. Это как минимум сделает растяжки менее выраженными.
                </p>
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/032.jpg" />
                <p class="h30"></p>

                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                    После душа, на распаренную кожу тела и проблемных зон, нанесите и разотрите небольшое количество кокосового масла. 
                    После нескольких применений Вы заметите результат — растяжки станут меньше прощупыватся. А эстетический вид Вас приятно удивит.
                </p>
            }
            else if (article_alias == "v_pishu")
            {
                <p>
                    Кокосовое масло является полезным и вкусным пищевым продуктом. Употребляется при диетическом питании, для профилактики некоторых заболеваний, 
                    а так же в повседневном рационе. Диета, основанная на овощах с кокосовым маслом, широко используется для сброса лишнего веса.
                </p>
                <p>
                    Кокосовое масло является единственным маслом, которое не разрушается под воздействием высоких температур, что очень важно в здоровом питании. 
                    На нём безопасно жарить, оно не становится канцерогенным, и очищает организм.
                </p>
                <p>
                    Кокосовое масло улучшает пищеварение и таким образом способно предупредить заболевания, связанные с желудком и кишечником. 
                    Насыщенные жиры кокосового масла обладают антимикробными свойствами и помогают бороться с различными бактериями, 
                    грибками и паразитами. Кокосовое масло также помогает усваиванию витаминов, минералов и аминокислот.
                </p>
                
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/020.jpg" />
                <p class="h30"></p>
                
                <p>
                    Кокосовое масло можно добавлять в горячие напитки, кофе, молоко и горячие шоколады. Необходимо только размешивать напиток, так как 
                    масло будет стремиться к поверхности. <br />
                    А также существует множество рецептов выпечки с использованием кокосового масла.
                </p>
                <p>
                    Кокосовое масло, обладая мягкой консистенцией и изысканным тонким ароматом, не теряет своих ценных свойств даже при многократном нагревании. 
                    Поэтому, если Вас интересует полезное питание, 
                    используйте кокосовое масло, к примеру, вместо маргарина или подсолнечного масла. Ввести его в рацион обязательно стоит тем, у кого 
                    страдает щитовидная железа или проблемы есть с переизбытком веса. Ученые выяснили недавно, что кокосовое масло полностью усваивается, 
                    не откладываясь в жиры.
                </p>
                <p>
                    Если Вы чувствуете себя усталым и вялым, у вас путаются мысли, медленный обмен веществ и лишние килограммы, морщины, сухая кожа, чешуйчатые пятна или экзема Вам 
                    необходимо приобрести кокосовое масло и регулярно его употреблять. Все Ваши проблемы будут разрешены в течение нескольких месяцев.
                </p>
                <p>
                    Раньше считалось, что кокосовое масло вредно, так как в нем содержится большое количество различных жиров. Теперь же этот продукт 
                    вернулся на кухни многих хозяек именно потому, что он может помочь от всех вышеперечисленных недугов. В течение длительного 
                    времени считалось, что кокосовое масло непригодно для употребления в пищу, но исследования показали, что жиры, которые содержатся 
                    в этом масле, очень даже полезны для нашего здоровья. Вот некоторые преимущества добавления масла в свой рацион питания:
                </p>
                <ul>
                    <li>Кокосовое масло отрегулирует работу щитовидной железы. Если Вы постоянно чувствуете себя усталыми, вялыми и постоянно что-то забываете, это говорит о том, 
                        что ваша щитовидная железа нуждается в питании. Вам будет полезно употреблять кокосовое масло в пищу.</li>
                    <li>Отрегулирует обмен веществ. Если Вы хотите сбросить лишние килограммы, то добавляйте масло в свой рацион питания, оно увеличит 
                        скорость метаболизма. Помните, что когда Вы садитесь на диету, ваш организм недополучает многие питательные вещества и поэтому 
                        старается их запасти, таким образом, образуются лишние отложения. Если в Вашем рационе будет много полезных жиров, 
                        то у организма не будет необходимости откладывать их на запас.</li>
                </ul>
                <p class="brown">
                    Больше всего пользы кокосовое масло принесёт при добавлении 1-2 чайных ложек в зелёные и&nbsp;фруктовые салаты.
                </p>
    
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/003.jpg" />
                <p class="h30"></p>

                <h2><span>САМОЕ ПОЛЕЗНОЕ МАСЛО <br />ДЛЯ ПРИГОТОВЛЕНИЯ ЛЮБОЙ ПИЩИ</span></h2>
                <ul>
                    <li>Кокосовое масло великолепно подходит для запекания, жарки или тушения продуктов и может использоваться при 
                    температурах до 350°С. Оно с легкостью заменит сливочное масло: просто намажьте его на хлеб, смешайте с овощами, кашей или попкорном.</li>
                    <li>Кокосовое масло долго хранится и не требует хранения в холодильнике!</li>
                    <li>Кокосовое масло идеально для приготовления пищи, в то время как оливковое масло термически чувствительно 
                    (портится при нагревании и уже при небольшом нагреве выделяет легкий дым) и больше подходит для салатов.</li>
                    <li>Кокосовое масло замечательно не только на кухне, но является роскошным средством по уходу за кожей, 
                    волосами и даже применяется при массаже.</li>
                </ul>
                
                <img class="db" alt="" src="/img/articles/015.jpg" />
                <p class="h30"></p>
                
                <h2><span>КУЛИНАРНЫЕ РЕЦЕПТЫ С ИСПОЛЬЗОВАНИЕМ <br />КОКОСОВОГО МАСЛА</span></h2>
                <ul>
                    <li>Кокосовое масло используется для приготовления любых горячих блюд: супов, гарниров, овощных, мясных и рыбных блюд, 
                        горячих закусок и соусов, можно добавлять в выпечку и в кондитерские изделия, а также использовать для фритюра. Попробуйте приготовить 
                        с кокосовым маслом плов или просто обычный рис, Вы будете приятно удивлены - насколько Ваше блюдо преобразится. </li>
                    <li>Кокосовое масло можно вместо сливочного добавлять в картофельное пюре, макароны, ризотто или гречневую кашу. Летом, в жаркое время 
                    года, когда температура воздуха превышает 26°С и кокосовое масло не загустевает, его можно использовать для заправки салатов.</li>
                    <li>Выпечка с кокосовым маслом намного дольше может сохранять свежесть и пышность. А для любителей вкусных мучных изделий есть 
                    замечательная новость: недавно проведённые исследования, выявили, что кокосовое масло не откладывается в жиры, а полностью 
                    усваивается. Более того, была обнаружена потрясающая способность масла воздействовать на вес человека. Оказалось, что 
                    потребление кокосового масла вкупе с обычными диетами, позволяет существенно снизить содержание углеводов в организме.</li>
                    <li>На кокосовом масле можно тушить любые овощи: кабачки, баклажаны, капусту, тыкву, свеклу, можно сделать замечательное рагу из всех овощей сразу.</li>
                    <li>Также его можно добавлять в некоторые сладкие молочные каши, например: в рисовую, тыквенную, пшённую и пшеничную.</li>
                    <li>Кокосовое масло – настоящая находка для любителей жареного! Кокосовое масло не склонно к прогорканию, и поэтому его можно 
                    использовать во фритюре до 5-7 раз, при этом оно не становится канцерогенным. При температуре +25°С и ниже, кокосовое масло 
                    затвердевает. Поэтому, если оно стало твёрдым (загустело), то перед его использованием, необходимо подогреть 
                    бутылочку под струёй горячей воды, чтоб масло снова стало жидким.</li>
                </ul>
            }
            else if (article_alias == "pri_beremennosti")
            {
                <p>
                    Благодаря своим полезным свойствам, кокосовое масло способно предотвратить появление растяжек в проблемных областях у беременных, поскольку 
                    оно укрепляет ткани эпидермиса, вырабатывает эластиновые волокна, тем самым повышая эластичность кожного покрова. <br /><br />
                    Более того кокосовое масло не имеет противопоказаний и не способно оказать на организм каких-либо отрицательных побочных действий.
                </p><br /><br/>
                <h1 class="brown">
                    Используйте кокосовое масло для эластичности, <br/>мягко втирая в кожу живота
                </h1>
                <img class="db" alt="" src="/img/articles/033.jpg" />
                <p class="h30"></p>
            }
            else if (article_alias == "dlya_piema_vnutr")
            {
                <p>
                    Кокосовое масло улучшает пищеварение и таким образом способно предупредить заболевания, связанные с желудком и кишечником. Насыщенные жиры 
                    кокосового масла обладают антимикробными свойствами и помогают бороться с различными бактериями, грибками, паразитами. 
                    Кокосовое масло также помогает усваиванию витаминов, минералов и аминокислот.
                </p>
                <p class="brown">
                    Отличный источник здоровья и энергии для вегетарианцев, сыроедов и людей ведущих здоровый образ жизни. Кокосовое масло улучшает способность организма 
                    усваивать различные минералы. К ним относятся и кальций и магний, необходимые для здоровья костной системы. Поэтому кокосовое масло 
                    так полезно для женщин старшего возраста, склонных к остеопорозу.
                </p>
                <p class="h20"></p>
                <p>
                    <img style="float:left; margin:0 20px 20px -100px;" alt="" src="/img/articles/027.jpg" />

                    Кокосовое масло прекрасно укрепляет иммунитет, помогает избавиться от лишнего веса, уменьшает уровень холестерина, защищает организм от вирусов и бактерий, 
                    снижает риск сердечнососудистых заболеваний, нормализует обмен веществ и работу щитовидной железы, очищает кровеносные сосуды, 
                    улучшает пищеварение, очищает кишечник. И это далеко не весь список полезного действия кокосового масла на организм. 
                    Оно содержит много антиоксидантов и является лучшим  маслом для сохранения и восстановления здоровья и молодости.
                </p>
                <p>
                    Научные исследования показали, что лауриновая кислота в составе кокосового масла идеально способствует поддержанию концентрации холестерина 
                    в нормальном диапазоне. У кокосового масла есть множество полезных свойств и предписаний к использованию при разных заболеваниях. 
                </p>
                <p>
                    Если его употреблять внутрь, то это способствует снижению риска развития атеросклероза, сердечных и онкологических заболеваний. 
                    Кроме того, организм становится устойчивым к вирусным заболеваниям и различным инфекциям, благодаря тому, что масло укрепляет иммунитет 
                    и одновременно снижает способности вирусов приспосабливаться к антибиотикам. Кокосовое масло не откладывается в человеческом 
                    организме в виде жира в отличие от множества других масел.
                </p>
                <br />
                <h2><span>НАУЧНЫЕ ФАКТЫ</span></h2>
                <ul>
                    <li>Доктор Брюс Файф выявил, что кокосовое масло содержит 10 видов жирных кислот со средней длиной углеродной цепи (ТСЦ). 
                        Каждая из них является уже сама по себе питательным веществом, а также стимулирует улучшение усваивания других веществ: витаминов, минералов из других продуктов.</li>
                    <li>Благодаря таким свойствам, кокосовое масло обеспечивает энергией все процессы жизнедеятельности, и повышает уровень сопротивления к вирусам, бактериям, грибам.</li>
                    <li>Кокосовое масло способствует похудению, потому что ускоряет метаболизм, расщепляется на энергию, не превращаясь в жировые запасы и вызывает процесс термогенеза.</li>
                </ul>
                <p class="brown">
                    Кокосовое масло является единственным маслом, которое не разрушается под воздействием высоких температур, что очень важно в здоровом питании.
                </p>
                
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/015.jpg" />
                <p class="h30"></p>
                
                <p>
                    <strong class="brown">Натуральное кокосовое масло является одним из самых безвредных и безопасных официально зарегистрированных пищевых 
                    продуктов без известных побочных эффектов.</strong>
                </p>
                <br />
                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                    Ежедневно пить по 1-2 столовых ложки кокосового масла утром на голодный желудок, запивая большим количеством воды. 
                    Начинать прием масла лучше с полчайной ложки, постепенно увеличивая до 2 столовых ложек.
                </p>
                <br />
                <p>
                    <strong>ДЛЯ ПОХУДЕНИЯ</strong><br />
                    Принимать по одной столовой ложке кокосового масла перед приемом пищи. <br />Но выпивать не более трёх столовых ложек масла в день.
                    Детям рекомендуется принимать по половине или одной чайной ложке в зависимости от их возраста. 
                    Можно смело смешивать кокосовое масло с другой пищей.
                    <br /><br />

                    <strong>ДЛЯ ПИЩЕВАРЕНИЯ И КИШЕЧНИКА</strong><br />
                    Выпить 1-2 столовые ложки кокосового масла смешав с теплой водой или запить стаканом теплой воды для улучшения пищеварения и очистки кишечника.
                    Если Вы первый раз пьёте это масло начинайте прием с половины чайной ложки и постепенно увеличивайте. 
                    Для пожилых людей рекомендуется принимать не больше одной столовой ложки кокосового масла в день.

                    <br /><br />
                </p>
                
                <img class="db" alt="" src="/img/articles/012.jpg" />
                <p class="h30"></p>
                
                <p>
                    Если Вы чувствуете себя усталым и вялым, у Вас путаются мысли, медленный обмен веществ и лишние килограммы, морщины, сухая кожа, чешуйчатые пятна или экзема Вам 
                    необходимо приобрести кокосовое масло и регулярно его употреблять. Все Ваши проблемы будут разрешены в течение нескольких месяцев.
                </p>
                <p>
                    Раньше считалось, что кокосовое масло вредно, так как в нем содержится большое количество различных жиров. Теперь же этот продукт 
                    вернулся на кухни многих хозяек именно потому, что он может помочь от всех вышеперечисленных недугов. В течение длительного 
                    времени считалось, что кокосовое масло непригодно для употребления в пищу, но исследования показали, что жиры, которые содержатся 
                    в этом масле, очень даже полезны для нашего здоровья. <br />Вот некоторые преимущества добавления масла в свой рацион питания:
                </p>
                <ul>
                    <li>Кокосовое масло отрегулирует работу щитовидной железы. Если Вы постоянно чувствуете себя усталыми, вялыми и постоянно что-то забываете, это говорит о том, 
                        что ваша щитовидная железа нуждается в питании. Вам будет полезно употреблять кокосовое масло в пищу.</li>
                    <li>Отрегулирует обмен веществ. Если Вы хотите сбросить лишние килограммы, то добавляйте масло в свой рацион питания, оно увеличит 
                        скорость метаболизма. Помните, что когда Вы садитесь на диету, ваш организм недополучает многие питательные вещества и поэтому 
                        старается их запасти, таким образом, образуются лишние отложения. Если в Вашем рационе будет много полезных жиров, 
                        то у организма не будет необходимости откладывать их на запас.</li>
                </ul>
            }
            else if (article_alias == "dlya_pohudenia")
            {
                <p class="cb">
                    <img style="float:left; margin:0 20px 20px -100px;" alt="" src="/img/articles/036.jpg" />

                    Кокосовое масло содержит короткие и средние цепи жирных кислот, которые помогают сбросить лишний вес. Также оно легко усваивается и 
                    помогает здоровому функционированию щитовидной железы и эндокринной системы. Кроме того, кокосовое масло усиливает метаболизм, 
                    тем самым сжигая больше энергии и помогая тучным людям сбросить вес. Поэтому люди, живущие в тропических прибрежных районах и 
                    употребляющие кокосовое масло ежедневно, обычно не страдают ожирением и лишним весом.<br /><br />
                    <span class="brown">
                        Если вы хотите похудеть, принимайте кокосовое масло за 20 минут перед каждым приемом пищи, но не больше 3 столовых ложек в день.
                    </span>
                </p>
                <h2><span>ДОСТОИНСТВА НЕРАФИНИРОВАННОГО <br />КОКОСОВОГО МАСЛА</span></h2>
                <p class="fs14">Статья Гленн Дарлинг</p>
                <p>
                     Так как я вегетарианка с 15-летним стажем, вы можете представить, что я
                     была очень рада увидеть в бюллетене просьбу о здоровых рецептах. Вы
                     упоминали использование «только ненасыщенных жиров подобно оливковому
                     маслу». Могу предложить следующее: 
                </p>
                <p>
                     Вы, возможно, слышали утверждение, «что жир, который вы едите – это жир,
                     который Вы носите». Это, за несколькими исключениями, является абсолютно
                     верным. Не имеет значение, используете ли вы хлопковое или оливковое масло
                     или что-нибудь среднее между ними. Почти все растительные масла состоят из
                     LCFA – длиннозвеньевых жирных кислот. Ваше тело будет хранить их как жир,
                     если они не будут использованы для процесса выработки энергии. Это
                     означает, что большинство из них превратятся в жир, потому что до 40
                     процентов нашего ежедневного рациона составляют растительные масла. 
                </p>
                <p>
                     Есть, однако, одно насыщенное масло, которое состоит, главным образом, из
                     MCFA – среднезвеньевых жирных кислот. Это нерафинированное кокосовое масло,
                     и оно, фактически, помогает вашему телу терять вес, а не набирать его. Но в
                     течение некоторого времени кокосовое масло рекламировалась как одно из тех
                     масел, которые являются вредными для здоровья человека. 
                </p>
                <p>
                     Одна из причин, по которой многие люди полагают, что кокосовое масло вредно
                     для здоровья, – это неправильная ассоциация: «Это – насыщенный жир, а
                     насыщенные жиры, как правило, являются вредными». Руководства по диетам не
                     в состоянии проводить различия между разными видами насыщенных жиров и
                     продолжают настаивать на утверждении, что насыщенные жиры (имея ввиду ВСЕ
                     насыщенные жиры) являются вредными для организма человека. 
                </p>
                <p>
                    <img style="float:right; margin:0 -100px 20px 20px;" alt="" src="/img/articles/037.jpg" />

                     Это не только вводит в заблуждение. Это ненаучно. Ведущие ученые теперь
                     признают, что точно также как есть полезный холестерин, есть также и
                     полезные насыщенные жиры. 
                </p>
                <p>
                     Жиры классифицируются и могут быть коротко-, средне- или длиннозвеньевыми,
                     в зависимости от числа молекул углерода, которые они содержат. Почти две
                     трети насыщенного жира в кокосовом масле состоят из среднезвеньевых жирных
                     кислот. 
                </p>
                <p>
                     Когда мы едим длиннозвеньевые жирные кислоты, они превращаются в эмульсию
                     солями желчи в тонкой кишке прежде, чем будут абсорбированы нашим телом.
                     Коротко- и среднезвеньевые жирные кислоты, вроде тех, что присутствуют
                     кокосовом масле, поглощаются непосредственно через воротную вену в печени,
                     где они сразу же готовы к потреблению организмом. Другими словами, большая
                     часть насыщенного жира в кокосовом масле является легко усваиваемым и
                     преобразуемым в быструю энергию. Эти типы жирных кислот вряд ли повлияют на
                     повышение веса, потому что они немедленно используются организмом и просто
                     не могут откладываться в жир. 
                </p>
                <p>
                     Традиционно полиненасыщенные масла, такие как соевое, использовались для
                     добавления в пищу домашнего скота, так как благодаря им животные быстро
                     набирали вес. Эти масла состоят из длиннозвеньевых жирных кислот, которые
                     способствуют увеличению веса. С другой стороны, кокосовое масло является
                     насыщенным жиром, состоящим, преимущественно, из среднезвеньевых жирных
                     кислот. Известные как среднезвеньевые триглицериды (MCT), <strong>среднезвеньевые
                     жирные кислоты ускоряют метаболизм и ведут к потере веса</strong>. Кокосовое масло
                     также способствует повышению базовой температуры тела при ускорении
                     процесса метаболизма. Это хорошие новости для людей, страдающих слабой
                     функцией щитовидной железы.
                </p>
                <p>
                     Более того, почти 50 процентов жирных кислот в натуральном кокосовом масле
                     – лауриновая кислота, которая в организме преобразуется в жирную кислоту
                     монолаурин. Лауриновая кислота оказывает неблагоприятный эффект на
                     разнообразные микроорганизмы, включая бактерии, дрожжи, грибок и вирусы.
                     Она разрушает липидные мембраны таких вирусов как ВИЧ, корь, вирус простого
                     Герпеса (HSV-1), гриппа и цитомегаловирус (CMV). В настоящее время
                     исследуется ее эффективность при лечении СПИДа. Лауриновая кислота –
                     главный компонент грудного молока человека и помогает защищать детей от
                     болезней во время младенчества.
                </p>
            }
            else if (article_alias == "dlya_massaga")
            {
                <p>
                    Кокосовым маслом можно делать массаж тела, параллельно поможет от морщинок и растяжек. 
                    Кожа после массажа будет бархатная, масло впитается быстро, а удовольствие от массажа многократно увеличенно.
                    <br /><br />
                    Кокосовое масло идеально подходит для всего тела, его можно использовать как самостоятельно, так и с эфирными маслами. 
                    Массаж можно делать в среднем до 25 минут. Руки при этом хорошо скользят. Одно из важных качеств кокосового масла — 
                    нет ощущения липкой или грязной спины. Масло обеспечивает коже полноценное питание, поэтому кожа его принимает с огромным удовольствием.
                </p>
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/035.jpg" />
                <p class="h30"></p>
            }
            else if (article_alias == "ot_cellulita")
            {
                <p>
                    Если вы не пробовали ранее масаж сухой щеткой, то самое время оценить его преимущества. Помимо смягчения тона кожи и тонизирующего 
                    эффекта, сухая щетка вполне может справиться с целлюлитом. <br /><br />
                    Возьмите банку с кокосовым маслом и нанесите масло на проблемную зону. 
                    Далее возьмите сухую щетку и нежно массируйте область кожи, на которую нанесли кокосовое масло. Сухую щетку можно легко 
                    найти в магазинах по уходу за кожей.
                </p>
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/032.jpg" />
                <p class="h30"></p>
            }
            else if (article_alias == "ot_ojogov")
            {
                <p class="cb">
                    Кокосовое масло прекрасно подходит для загара и от ожогов после неудачного загара.<br /><br />

                    Кокосовое масло эффективно при лечении и заживлении ран и ожогов, препятствует процессам гниения и ускоряет регенерацию тканей, 
                    надежно защищая от проникновения инфекции в организм. Имеет местный обезболивающий эффект при нанесении на пораженное место.<br /><br />

                    При нанесении на пораженные места, кокосовое масло формирует слой, который защищает от внешней пыли, воздуха, грибков, 
                    бактерий и вирусов. Кокосовое масло эффективно лечит синяки, поскольку ускоряет процесс заживления поврежденных тканей.
                </p>
                <p class="h30"></p>
                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                        Регулярно, в течении всего дня, щедро смазывайте рану или ожог кокосовым маслом. 
                    При экземе, акне, алопеции, псориазе, розацеа и других кожных заболеваниях просто наносите небольшое количество кокосового 
                    масла в нужные области 1-2 раза в день.
                </p>
                
                <img class="db" alt="" src="/img/articles/013.jpg" />
                <p class="h30"></p>
            }
            else if (article_alias == "ot_perhoti")
            {
                <p>
                    Кокосовое масло является одним из лучших источников питательных веществ, сохраняющих волосы здоровыми. Оно способствует их росту и придает блеск. 
                    Регулярный массаж головы с кокосовым маслом <strong>освобождает от перхоти</strong>, а также восстанавливает поврежденные волосы, обеспечивая 
                    их необходимыми протеинами.
                </p>
                <p class="h20"></p>
                <p class="cb">
                    <img style="float:left; margin:0 20px 20px -100px;" alt="" src="/img/articles/030.jpg" />

                    Для лечения жирной себореи и перхоти масло чуть подогревают и наносят на полчаса-час на волосы и кожу головы. 
                    Затем волосы промывают с мягким шампунем.<br />

                    Что кокосовое масло может сделать для вашей кожи, то же самое оно может сделать и с вашими волосами. Это замечательный кондиционер 
                    для волос. Косметологи знакомы с кокосовым маслом и любят его, потому что оно смягчает и кондиционирует волосы.
                </p>
                <p>
                    Используя кокосовое масло до мытья волос как кондиционер можно избавить человека от перхоти лучше, чем с помощью медицинского шампуня. 
                    Кокосовое масло также имеет сходство с протеинами и может проникать в волос. Это происходит из-за того, что оно имеет 
                    низкую молекулярную массу и прямую линейную цепь, минеральное масло 
                    (которое используется в коммерческих кондиционерах для волос) и подсолнечное масло (которое используется в натуральных кондиционерах) 
                    не проникают в структуру волоса и не имеют хорошего укрепления протеинов внутри.
                </p>
            }
            else if (article_alias == "dlya_kogi_golovi")
            {
                <p>
                    Кокосовое масло эффективно для решения проблем волос и кожи головы. Достаточно втирать небольшое количество масла в кожу головы, 
                    распределяя по всей длине. Смывать минимум через 40 минут, а лучше оставить подольше или делать маску на ночь. 
                    Оно борется с сухостью волос и кожи головы, лечит педикулез, останавливает выпадение волос и стимулирует рост новых, 
                    прекрасно ухаживает за волосами.
                </p>
                <p>
                    Кокосовое масло является одним из лучших источников питательных веществ, сохраняющих волосы здоровыми. Оно способствует их росту и придает блеск. 
                    Регулярный массаж головы с кокосовым маслом освобождает от перхоти, а также восстанавливает поврежденные волосы, обеспечивая 
                    их необходимыми протеинами.
                </p>

                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/001.jpg" />
                <p class="h30"></p>

                <p>
                    Для лечения жирной себореи и перхоти масло чуть подогревают и наносят на полчаса-час на волосы и кожу головы. 
                    Затем волосы промывают с мягким шампунем.<br /><br />

                    Что кокосовое масло может сделать для вашей кожи, то же самое оно может сделать и с вашими волосами. Это замечательный кондиционер 
                    для волос. Косметологи знакомы с кокосовым маслом и любят его, потому что оно смягчает и кондиционирует волосы.
                </p>
                <p>
                    Используя кокосовое масло до мытья волос как кондиционер можно избавить человека от перхоти лучше, чем с помощью медицинского шампуня. 
                    Кокосовое масло также имеет сходство с протеинами и может проникать в волос. Это происходит из-за того, что оно имеет 
                    низкую молекулярную массу и прямую линейную цепь, минеральное масло 
                    (которое используется в коммерческих кондиционерах для волос) и подсолнечное масло (которое используется в натуральных кондиционерах) 
                    не проникают в структуру волоса и не имеют хорошего укрепления протеинов внутри.
                </p>
            }
            else if (article_alias == "dlya_nog")
            {
                <p class="cb">
                    <img style="float:right; margin:0 -100px 20px 20px; width:400px;" alt="" src="/img/articles/034.jpg" />

                    Кокосовое масло является отличным смягчающим средством для ступней и локтей. Удивительный эффект не заставит себя 
                    долго ждать — кожа сразу становится мягкой, нежной.<br /><br />

                    Кокосовое масло средство для разглаживания и питания Ваших пяток. Наносите его тонким слоем на чистые ноги перед сном, 
                    одевайте специальные носки и будете наслаждаться мягкостью Ваших пяток очень долго.<br /><br />
                </p>
                <p>
                    Кокосовое масло снимает раздражение наиболее быстро, хорошо увлажняет кожу, отлично впитывается и удобно в применении. 
                    Используя его после бритья и эпиляции, обладает противовоспалительным действием, успокаивает кожу и делает её гладкой.
                </p>
            }
            else if (article_alias == "ot_morshin")
            {
                <p>
                    Подтянуть кожу лица можно с помощью натуральных продуктов, например, используя кокосовое масло от морщин. Появление морщин может быть 
                    связано не только со старением, но быть результатом влияния внешней среды или быстрой потери веса. Благодаря высокому содержанию 
                    антиоксидантов и насыщенных жиров кокосовое масло уменьшает морщины. Кроме того, оно помогает предотвратить 
                    такие признаки старения как пигментные пятна.
                <p>
                </p>
                    Кокосовое масло от морщин можно принимать внутрь и использовать внешне. Включенное в питание, оно обеспечивает организм 
                    антиоксидантами и насыщенными жирами, которые уменьшают эффекты старения. Использование его в кремах или непосредственное применение 
                    на кожу поддерживает ее эластичность и уменьшает пигментные пятна.
                <p>
                </p>
                    Кокосовое масло отлично подходит не только для массажа против морщин, но и является эффективным увлажняющим кремом, причем 
                    для всех типов кожи. Не секрет, что процесс старения не может быть остановлен, но если вы позаботитесь о своей коже, и каждый 
                    вечер перед сном будете делать с ним массаж, то сможете уменьшить появление морщин и тонких линий, а значит, замедлите 
                    преждевременное старение и сохраните красоту.
                </p>
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/031.jpg" />
                <p class="h30"></p>

                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <p>
                    Косметологи советуют применять нерафинированное кокосовое масло на лицо перед сном. Возьмите небольшое количество и потрите между рук, 
                    пока оно не станет жидким. Затем нанесите на лицо аккуратными массажными движениями и дайте впитаться. 
                    Чтобы кожа не оставалась жирной, не используйте его слишком много.<br /><br />

                    <strong>КОКОСОВОЕ МАСЛО ОТ МОРЩИН ВОКРУГ ГЛАЗ</strong><br />
                    Намазать на ночь область вокруг глаз. Проделать хотя бы 10 процедур ежедневно.
                </p>
            }
            else if (article_alias == "dlya_rta")
            {
                <p>
                    В нашей ротовой полости идеальные условия для размножения бактерий, микробов и вирусов. Со слюной они попадают в желудок, 
                    через десна в кровь, отравляют наш организм и разрушают зубы. Чистка зубов обычной зубной пастой избавляет только от 10% бактерий. 
                    Регулярное полоскание полости рта кокосовым маслом не только защитит вас от микробов и вирусов, но и повысит защитные функции вашего организма, 
                    укрепит десны и зубы, избавит от болезней ротовой полости, снимет налет и зубной камень, устранит запах изо рта.
                </p>
                
                <p class="h20"></p>
                <img class="db" alt="" src="/img/articles/028.jpg" />
                <p class="h30"></p>
                
                <h2><span>ЛЕЧЕНИЕ БОЛЕЗНЕЙ РОТОВОЙ ПОЛОСТИ <br />ПОЛОСКАНИЕМ КОКОСОВЫМ МАСЛОМ</span></h2>
                <p>
                    Почти каждый вид болезни зарождается в ротовой полости, потому, что там идеальные условия для размножения и развития 
                    бактерий и микробов. Они проникают в кровь через десна, пробираются в зубы, разрушая их, или вместе со слюной и едой проникают в желудок. 
                    Вирусы и бактерии так же атакуют наш организм через рот. Чистка зубов помогает избавиться только от 10% вирусов и бактерий (если чистить зубы обычной зубной пастой. 
                    Если полоскать зубы на ночь и с утра кокосовым маслом (эта процедура еще называется «сосание масла» кто знаком с йогой и культурой Индии, 
                    наверняка знаком с этой методикой), то вы не только очистите ротовую полость от всякой «радости, но и повысите защитные свойства, 
                    укрепив защитную мембрану. Кокосовое масло укрепляет не только десна, но и зубы.
                </p>
                <p>
                    Полоская регулярно рот кокосовым маслом вы можете укрепить свою иммунную систему и решить следующие 
                    проблемы: акне, аллергия, синуситы, мигрени, бронхит, безсонница, гипоглекимия и пр. Кроме того вы избавитесь от таких проблем 
                    ротовой полости, как: болезни ротовой полости, запах изо рта, язвы на слизистой, зубной камень, воспаления десен, 
                    болезни зубов, гипер чувствительность зубов, цинга и кандидоз ротовой полости.
                </p>
                
                <p class="h30"></p>
                <img class="db" alt="" src="/img/articles/016.jpg" />
                <p class="h30"></p>
                
                <p>
                    Кокосовое масло улучшает способность организма усваивать различные минералы. К ним относятся и кальций и магний, 
                    необходимые для здоровья костной системы. Поэтому кокосовое масло так полезно для женщин старшего возраста, склонных к остеопорозу.
                    Важнейший элемент, присутствующий в зубах, это кальций. Поскольку кокосовое масло усиливает усвоение кальция, оно помогает здоровью зубов. 
                    Кокосовое масло также предотвращает разрушение зубов.
                </p>
                <br />
                <h2><span>ПРИМЕНЕНИЕ</span></h2>
                <br />
                <p>
                    <strong>СПОСОБ №1</strong><br />
                    Утром, сразу после пробуждения прополоскать полость рта 1 столовой ложкой кокосового масла в течении 15 минут. Сплюнуть масло, почистить зубы и язык.<br />
                    Перед сном, сразу после чистки зубов прополоскать полость рта 1 столовой ложкой кокосового масла в течении 15 минут и сплюнуть масло.
                    <br /><br />

                    <strong>СПОСОБ №2</strong><br />
                    Рекомендуются полоскания утром и вечером, 2 раза в день, эффективно при заболеваниях полости рта, тогда полоскать нужно в течении 20 минут, после приемов пищи. 
                    Будет достаточно 1-2 чайные ложки (10 мл) кокосового масла для проведения одной процедуры.
                    <br /><br />

                    <strong>СПОСОБ №3</strong><br />
                    Проснувшись, не принимая еду и воду, и не чистя зубы пополоскайте ротовую полость 1 столовой ложкой кокосового масла 15-20 минут. После сплевывания масла почистите зубы и язык.<br />
                    После очистки зубов перед сном снова пополощите рот 15-20 минут.
                </p>
            }
        </div>

        @*    
        <div>
                <p class="brown">
                    Вы можете заказать 100% натуральное кокосовое масло прямо сейчас! <br />
                    Просто оставьте заяку, наш менеджер свяжется с Вами в самое ближайшее время.
                </p>
                <p>
                    <a class="order_from_article" href="#" data-what="Обратный звонок со статьи">ЗАКАЗАТЬ КОКОСОВОЕ МАСЛО</a>
                </p>
            </div>
            <p class="h40"></p>
        *@
        <div>
            <script type="text/javascript">(function () {
                if (window.pluso) if (typeof window.pluso.start == "function") return;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                var h = d[g]('head')[0] || d[g]('body')[0];
                h.appendChild(s);
            })()
            </script>
            <div class="pluso" data-background="none;" data-options="big,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,moimir,facebook,google,twitter,livejournal,email"></div>
        </div>
        <p class="h30"></p>
        <div id="vk_comments"></div>
        <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", { limit: 20, width: "750", attach: "*" });
        </script>
    </div>
</div>
}